.bar {
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: #addee4;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 1;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.bar img {
  position: relative;
  width: 5vw;
  margin: 5px;
  display: inline;
  grid-column: 2;
}

.button {
  position: relative;
  display: none;
  border-radius: 50%;
  width: 9vw;
  height: 7vw;
  margin: 5px;
  padding: 0;
  border: none;
  grid-column: 1;
  cursor: pointer;
  background-color: transparent;
}

.button div {
  top: -20;
  position: relative;
  width: 100%;
  height: 40%;
}

.strip {
  position: relative;
  width: 100%;
  height: 20%;
  margin-top: 10px;
  background-color: #062b40;
  border-radius: 10px;
  top: 0;
}

.strip1 {
  position: relative;
  width: 100%;
  height: 20%;
  margin-top: 0;
  background-color: #062b40;
  border-radius: 10px;
  top: 0;
}

.dropdown {
  display: inline-block;
  position: fixed;
  top: 0vh;
  z-index: 2;
}

.dropdown {
  margin: 2vh;
  padding: 0;
}

.dropdown li {
  display: inline-block;
  top: 0vh;
  margin: 0 10px 10px 10px;
  padding: 0 2px 2px 2px;
}

.dropdown li::after {
  display: block;
  position: relative;
  content: "";
  background-color: #062b40;
  top: 0;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: width 0.0002s ease-out;
}

.dropdown li:hover::after {
  animation-name: onHover;
  animation-duration: 2s;
}

@keyframes onHover {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

a {
  font-size: 2rem;
  color: #062b40;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .bar img {
    width: 11vw;
    right: 20px;
  }
  .strip {
    height: 30%;
  }

  .button {
    display: block;
  }

  .dropdown {
    display: none;
  }
}
