.squareContent {
  display: block;
  width: 100%;
}

.square {
  vertical-align: top;
  position: relative;
  display: inline-block;
  background-color: #e0f0f2;
  border-radius: 20px;
  border: 1px solid #5fc4d1;
  margin: 0.5%;
  width: 22%;
  padding: 0.5%;
  height: 16.25rem;
  top: 0;
}

.square p {
  margin-left: 10px;
}

.end {
  font-size: 0.9375rem;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descr {
  width: 70%;
  text-align: center;
}
