:root {
  --page-size: 100px;
}

h2 {
  color: #062b40;
  font-size: 4rem;
}

h2::before,
h2::after {
  content: "";
  width: var(--page-size);
  height: 2px;
  background-color: #5fc4d1;
  border-radius: 50;
  margin: 5px;
  display: inline-block;
}

.squareContent {
  display: block;
  width: 100%;
}

.square {
  flex-grow: 1;
  flex-basis: 200;
  vertical-align: top;
  position: relative;
  display: inline-block;
  background-color: #e0f0f2;
  border-radius: 20px;
  border: 1px solid #5fc4d1;
  margin: 0.5%;
  width: 22%;
  padding: 0.5%;
  height: 16.25rem;
  top: 0;
}

.square p {
  margin-left: 10px;
}

.end {
  font-size: 0.9375rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.descr {
  width: 70%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .square {
    width: 40%;
    margin: 20px;
  }

  .square p {
  }
}
